<div class="container">
  <div class="row">
  	<div class="col-lg-8">
  		<div>相談一覧</div>
				
				<% @counselings.each do |counseling| %>
					<div class="panel panel-default">
			      <div class="panel-body">
					    <%= attachment_image_tag counseling.user, :image, :fill, 100, 100, format: 'jpeg' , class: "img-circle pull-left profile-img", fallback: "/images/no_image.jpg",size: '50x50'%>
              <%= counseling.user.nickname %>
					    <%=link_to counseling.title ,counseling_path(counseling.id) %>
			      </div>
			    </div>
			 <% end %>
			</div>
		  <div class="col-lg-4">
		  	<div>相談閲覧ランキング</div>
            <table class="table">
              <thead>
                <tr class="warning">
                  <th>順位</th>
                  <th>名前</th>
                  <th>タイトル</th>
                  <th>閲覧数</th>
                </tr>
              </thead>
              <tbody>
                <% @counseling_viewed.each.with_index(1) do |counseling, i| %>
                  <tr>
                    <td style="width:15%">
                      <%= "#{i}" %>
                    </td>
                   <td style="width:30%">
                    <%= attachment_image_tag counseling.user, :image, :fill, 100, 100, format: 'jpeg' , class: "img-circle pull-left profile-img", fallback: "/images/no_image.jpg",size: '50x50'%>
                   	<%= counseling.user.nickname%>
                   </td>
                    <td style="width:30%">
                      <%= link_to counseling.title ,counseling_path(counseling)%>
                    </td>
                    <td style="width:15%">
                      <%=  counseling.impressions_count %>
                    </td>
                  </tr>
                  <% end %>
              </tbody>
            </table>
			      <div>相談いいねランキング</div>
            <table class="table">

   
              <thead>
                <tr class="warning">
                  <th>順位</th>
                  <th>名前</th>
                  <th>タイトル</th>
                  <th>いいね数</th>
                </tr>
              </thead>
              <tbody>
                <% @icounselings.each.with_index(1) do |counseling,i| %>
                  <tr>
                    <td style="width:15%">
                      <%= i %>
                    </td>
                    <td style="width:30%">
                        <%= attachment_image_tag counseling.user, :image, :fill, 50, 50, format: 'jpeg' , class: "img-circle profile-img", fallback: "/images/no_image.jpg",size: '50x50'%>

                        <%= counseling.user.nickname %>
                    </td>
                    <td style="width:30%">
                      <%=link_to counseling.title ,counseling_path(counseling.id)  %>
                    </td>
                    <td style="width:20%">
                      <%= counseling.counseling_likes.length%>
                    </td>
                  </tr>
                  <% end %>
              </tbody>
            </table>

			      <div>解決ユーザーランキング</div>
              <%#= @bbb.inspect %>
              <table class="table">
                <thead>
                  <tr class="warning">
                    <th>順位</th>
                    <th>ユーザー名</th>
                    <th>解決数</th>
                  </tr>
                </thead>
                 <tbody>
                  <tr>
                    <% @user_rankings.each do |user_ranking| %>
                    <td style="width:15%">
                       <%= user_ranking[:rank] %>
                    </td>
                    <td style="width:30%">
                       <%= attachment_image_tag user_ranking[:user], :image, :fill, 50, 50, format: 'jpeg' , class: "img-circle profile-img", fallback: "/images/no_image.jpg",size: '50x50'%>
                       <%= user_ranking[:user].nickname %>
                    </td>
                    <td style="width:15%">
                      <%= user_ranking[:count] %>
                    </td>
                  </tr>
                  <% end %>
                 </tbody>
                </table>
              </div>
			</div>
          <%= paginate @counselings %>
    <%= link_to '戻る', root_path %>
   </div>
</div>
