<div class="container">
  <div class="row">
   <div class="col-lg-3">
      <% if user_signed_in? & current_user.already_counselingliked?(@counseling) %>
        <%= link_to counseling_counselinglike_path(@counseling), method: :delete do %>
          <i class="fa fa-heart" aria-hidden="true" style="color: red;">いいねじゃないね</i>
        <% end %>
      <% elsif user_signed_in? %>
        <%= link_to counseling_counselinglikes_path(@counseling), method: :post do %>
        <i class="fa fa-heart" aria-hidden="true">いいね</i>
        <% end %>
      <% end %>
  </div>
    <div class="col-lg-6">
      <%= @counseling.inspect %>
      <h2><%= @counseling.title %></h2>
      <div class="box3">
        <p> 
          <%= link_to @user.nickname, user_path(@counseling.user.id)%>  <%= @industry.industry_name %>
        </p>
      </div>
      <div class="box3">
      </div>
      <div class="box28">
        <span class="box-title">相談内容</span>
        <p><%= @counseling.body %></p>
      </div>



      <div class="box23">
        <ol>
          <% @counseling.counselingcomments.each do |counselingcomment| %>
            <div class="comment-box">
              <li class="comment">
                <div class="comment-body">
                  <div class="comment-avatar">
                      <div class="comment-text">
                          <div class="comment-author clearfix">
                              <a > <%= attachment_image_tag counselingcomment.user, :image, :fill, 50, 50, format: 'jpeg', class: "img-circle profile-img", fallback: "/no_image.jpg/",size: '50x50' %>
                                <%= link_to counselingcomment.user.nickname,user_path(counselingcomment.user.id) %></a>
                              <span class="comment-meta">
                                <span class="comment-date"><%= counselingcomment.created_at.strftime('%Y/%m/%d') %></span>
                              </span>
                          </div>
                          <p><div class="comment-entry"><%= counselingcomment.comment %></div></p>
                      </div>
                    </div>
                </div>
              </li>
              <div><%= link_to "削除", counseling_counselingcomment_path(counselingcomment.id) ,method: :delete, "data-confirm" => "本当に削除しますか？" %>
              </div>
                 <% if current_user.id == @counseling.user.id %>
                   <% if !(current_user.id == counselingcomment.user.id) %>
                    <% if user_signed_in? & current_user.already_counselingcommentliked?(counselingcomment) %>
                      <%= link_to counseling_counselingcomment_counselingcommentslike_path(@counseling,counselingcomment), method: :delete do %>
                        <i class="fa fa-heart" aria-hidden="true" style="color: red;">いいねじゃないね</i>
                      <% end %>
                      <% elsif user_signed_in? %>
                        <%= link_to counseling_counselingcomment_counselingcommentslikes_path(@counseling,counselingcomment), method: :post do %>
                        <i class="fa fa-heart" aria-hidden="true">いいね</i>
                        <% end %>
                      <% end %>
                      <div>いいね件数: <%= counselingcomment.counselingcommentlikes.count %></div>
                  <% end %>
               <% end %>
            </div>
          <% end %>
        </ol> 
    </div>



          <%= form_for [@counseling, @counselingcomment] do |f| %>
            <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
            <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
         <% end %>
    </div>
    <div class="col-lg-3"> 
    </div>
  </div>
</div>
