
<h1>相談詳細</h1>
    <div>タイトル</div>
    <%= @counseling.title %>
    <div>投稿者名</div>
    <%= link_to @user.nickname, user_path(@counseling.user.id)%>
    <div>相談内容</div>
    <%= @counseling.body %>
    <div>業種</div>
    <%= @industry.industry_name %>
    <% if user_signed_in? & current_user.already_counselingliked?(@counseling) %>
      <%= link_to counseling_counselinglike_path(@counseling), method: :delete do %>
        <i class="fa fa-heart" aria-hidden="true" style="color: red;">いいねじゃないね</i>
      <% end %>
      <% elsif user_signed_in? %>
        <%= link_to counseling_counselinglikes_path(@counseling), method: :post do %>
        <i class="fa fa-heart" aria-hidden="true">いいね</i>
      <% end %>
    <% end %>

    <ol>
    <% @counseling.counselingcomments.each do |counselingcomment| %>
        <li class="comment">
            <div class="comment-body bb">
                <div class="comment-avatar">
                    <div class="avatar">

                    </div>
                </div>
                <div class="comment-text">
                    <div class="comment-author clearfix">
                        <a ><%= link_to counselingcomment.user.nickname,user_path(@counseling.user.id) %></a>
                        <span class="comment-meta">
                          <span class="comment-date"><%= counselingcomment.created_at.strftime('%Y/%m/%d') %></span>
                        </span>
                    </div>
                    <div class="comment-entry"><%= counselingcomment.comment %></div>
                </div>
            </div>
        </li>
        <div><%= link_to "削除", counseling_counselingcomment_path(counselingcomment.id) ,method: :delete, "data-confirm" => "本当に削除しますか？" %></div>


    <% if user_signed_in? & current_user.already_counselingcommentliked?(counselingcomment) %>
      <%= link_to counseling_counselingcomment_counselingcommentslike_path(@counseling,counselingcomment), method: :delete do %>
        <i class="fa fa-heart" aria-hidden="true" style="color: red;">いいねじゃないね</i>
      <% end %>
      <% elsif user_signed_in? %>
        <%= link_to counseling_counselingcomment_counselingcommentslikes_path(@counseling,counselingcomment), method: :post do %>
        <i class="fa fa-heart" aria-hidden="true">いいね</i>
      <% end %>
    <% end %>
    <h3>いいね件数: <%= counselingcomment.counselingcommentlikes.count %></h3>
    <% end %>
</ol>
<%= form_for [@counseling, @counselingcomment] do |f| %>
    <div class="row">
        <div class="col-sm-12">
            <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
        </div>
    </div>
    <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
<% end %>

    <div><%#= @counseling.inspect %></div>
   <div><%= link_to "編集", edit_counseling_path(@counseling.id) %></div>
   <div><%= link_to"削除" ,counseling_path(@counseling.id),method: :delete,"data-confirm"=> "本当に削除しますか？" %></div>
   <div><%= link_to "戻る ", counselings_path  %></div>


