<div class="container">
  <div class="center-block">
    <div class="row">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#ランキング"data-toggle="tab">ランキング</a></li>
        <li><a href="#お気に入り"data-toggle="tab">お気に入りリスト</a></li>
        <li><a href="#新着一覧"data-toggle="tab">新着一覧</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="ランキング">
        <div>共有閲覧ランキング</div>
          <table>
            <thead>
              <tr>
                <th>順位</th>
                <th>名前</th>
                <th>タイトル</th>
                <th>閲覧数</th>
              </tr>
            </thead>
            <tbody>
              <% @sharing_viewed.each.with_index(1) do |sharing, i| %>
                <tr>
                  <td>
                    <%= "#{i}" %>
                  </td>
                  <td>
                    <%= sharing.user.nickname %>
                  </td>
                  <td>
                    <%= link_to sharing.title ,sharing_path(sharing)%>
                  </td>
                  <td>
                    <%=  sharing.impressions_count %>
                  </td>
                </tr>
                <% end %>
            </tbody>
          </table>
          <div>相談閲覧ランキング</div>
            <table>
              <thead>
                <tr>
                  <th>順位</th>
                   <th>名前</th>
                  <th>タイトル</th>
                  <th>閲覧数</th>
                </tr>
              </thead>
              <tbody>
                <% @counseling_viewed.each.with_index(1) do |counseling, i| %>
                  <tr>
                    <td>
                      <%= "#{i}" %>
                    </td>
                    <td>
                      <%= counseling.user.nickname %>
                    </td>
                    <td>
                      <%= link_to counseling.title ,counseling_path(counseling)%>
                    </td>
                    <td>
                      <%=  counseling.impressions_count %>
                    </td>
                  </tr>
                  <% end %>
              </tbody>
            </table>

            <div>共有いいねランキング</div>
            <table>
              <thead>
                <tr>
                  <th>順位</th>
                  <th>名前</th>
                  <th>タイトル</th>
                  <th>いいね数</th>
                </tr>
              </thead>
              <tbody>
                <% @sharings.each.with_index(1) do |sharing,i| %>
                  <tr>
                    <td>
                      <%= i %>
                    </td>
                    <td>
                      <%= sharing.user.nickname %>
                    </td>
                    <td>
                      <%=link_to sharing.title ,sharing_path(sharing.id)  %>
                    </td>
                    <td>
                      <%= sharing.sharinglikes.length%>
                    </td>
                  </tr>
                  <% end %>
              </tbody>
            </table>
            <div>相談いいねランキング</div>
            <table>
              <thead>
                <tr>
                  <th>順位</th>
                  <th>名前</th>
                  <th>いいね数</th>
                </tr>
              </thead>
              <tbody>
                <% @counselings.each.with_index(1) do |counseling,i| %>
                  <tr>
                    <td>
                      <%= i %>
                    </td>
                    <td>
                      <%=link_to counseling.title ,counseling_path(counseling.id)  %>
                    </td>
                    <td>
                      <%= counseling.counselinglikes.length%>
                    </td>
                  </tr>
                  <% end %>
              </tbody>
            </table>
            <div>解決ランキング</div>
            <%#= @aaa.inspect %><br>
            <%#= @bbb.inspect %><br>
            <table>
              <thead>
                <tr>
                  <th>順位</th>
                  <th>ユーザー名</th>
                  <th>いいね数</th>
                </tr>
              </thead>
              <tbody>
                <%# @bbb.each do |counselingcommentlike| %>
                  <tr>
                    <td>
                      
                    </td>
                    <td>
                      <%#= counselingcommentlike.comment %>
                    </td>
                    <td>
                      <%#= counselingcommentlike.user.nickname %>
                    </td>
                    <td>
                      <%#= counselingcommentlike.counselingcommentlike%><br>
                      <%#= counselingcomment.user.given_counseling_links.inspect %>
                    </td>
                  </tr>
                  <%# end %>

              </tbody>
            </table>
            <div>ユーザーランキング</div>
              <table>
                <thead>
                  <tr>
                    <th>順位</th>
                    <th>ユーザー名</th>
                    <th>いいね総数</th>
                  </tr>
                </thead>
                 <tbody>
                 </tbody>
                </table>
              </div>

            <div class="tab-pane fade" id="お気に入り">
            <div>お気に入り一覧</div>
            <table>
              <thead>
                <tr>
                  <th>名前</th>
                  <th>タイトル</th>
                </tr>
              </thead>
              <tbody> 
                <% @sharingstocks.each do |sharingstock| %>
                  <tr> 
                     <td>
                      <%= sharingstock.user.nickname %>
                    </td>
                    <td>
                      <%= link_to sharingstock.sharing.title,sharing_path(sharingstock.id) %>
                    </td>
                  </tr>
                <%end%>
              </tbody>
            </table>
          </div>
            <div class="tab-pane fade" id="新着一覧">
             <div>新着共有</div>
                <table>
                  <thead>
                    <tr>
                      <th>ユーザー名</th>
                      <th>タイトル</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @sharing_news .each do |sharing_new| %>
                      <tr>
                        <td>
                          <%= sharing_new.user.nickname%>
                        </td>
                        <td>
                          <%= link_to sharing_new.title ,sharing_path(sharing_new.id)%>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <div><%= link_to " 共有内容一覧" ,sharings_path %></div>
              <div>新着相談</div>
               <%#= @counseling_news.inspect %>
                <table>
                  <thead>
                    <tr>
                      <th>ユーザー名</th>
                      <th>タイトル</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @counseling_news.each do |counseling_new| %> 
                      <tr>
                        <td>
                          <%= counseling_new.user.nickname%>
                        </td>
                        <td>
                          <%= link_to counseling_new.title ,counseling_path(counseling_new.id) %>
                        </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <div><%= link_to " 相談内容一覧" ,counselings_path %></div>
            </div>
          </div>
        </div>
      </div>
    </div>