<h1>TOP</h1>

   <div>閲覧ランキング</div>
   <table>
	  <thead>
	    <tr>
	      <th>順位</th>
	      <th>名前</th>
	      <th>閲覧数</th>
	    </tr>
	  </thead>
	 
	  <tbody>
	    <% @sharing_viewed.each.with_index(1) do |sharing, i| %>
	      <tr>
	        <td><%= "#{i}" %></td>
	        <td><%= link_to sharing.title ,sharing_path(sharing)%></td>
	        <td><%=  sharing.impressions_count %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>


	<div>共有ランキング</div>
	<table>
	  <thead>
	    <tr>
	      <th>順位</th>
	      <th>名前</th>
	      <th>いいね数</th>
	    </tr>
	  </thead>
	  <tbody>
		<% @sharings.each.with_index(1) do |sharing,i| %>
		  <tr>
		    <td> <%= i %> </td>
			<td><%=link_to sharing.title ,sharing_path(sharing.id)  %></td>
			<td><%= sharing.sharinglikes.length%></td>
		  </tr>
		<% end %>
	  </tbody>
    </table>

    <div>相談ランキング</div>
    <table>
	  <thead>
	    <tr>
	      <th>順位</th>
	      <th>名前</th>
	      <th>いいね数</th>
	    </tr>
	  </thead>
	  <tbody>
		<% @counselings.each.with_index(1) do |counseling,i| %>
		  <tr>
			<td> <%= i %> <td>
			<td><%=link_to counseling.title ,counseling_path(counseling.id)  %></td>
			<td><%= counseling.counselinglikes.length%></td>
		  </tr>
		<% end %>
	  </tbody>
    </table>

    <div>解決ランキング</div>
    <table>
	  <thead>
	    <tr>
	      <th>順位</th>
	      <th>名前</th>
	      <th>いいね数</th>
	    </tr>
	  </thead>
	  <tbody>
		<% @counselingcomments.each.with_index(1) do |counselingcomment,i| %>
		  <tr>
		    <td><%= i %></td>
			<td><%=link_to counselingcomment.comment ,counseling_path(counselingcomment.id)  %></td>
			<td><%= counselingcomment.counselingcommentlikes.length%></td>
		  </tr>
		<% end %>
	  </tbody>
    </table>
    <div>お気に入り一覧</div>
     <table>
	  <thead>
	    <tr>
	      <th>順位</th>
	      <th>名前</th>
	    </tr>
	  </thead>
	  <tbody>
　　　　　<% @sharingstocks.each do |sharingstock| %>
          <tr>
　　　　　　　<td>タイトル</td>
	       <td><%= link_to sharingstock.sharing.title,sharing_path(sharingstock.id) %></td>
	      </tr> 
	   <%end%>
	  </tbody>
    </table>



	<div><%= link_to "共有内容一覧 " ,sharings_path%></div>
	<div><%= link_to " 相談内容一覧" ,counselings_path %></div><br>




	



