<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div>共有一覧</div>
        <% @sharings.each do |sharing| %>
          <div class="panel panel-default">
            <div class="panel-body">
              <%= attachment_image_tag sharing.user, :image, :fill, 100, 100, format: 'jpeg' , class: "img-circle pull-left profile-img", fallback: "/images/no_image.jpg",size: '50x50'%>
              <%=link_to sharing.title ,sharing_path(sharing.id) %>
            </div>
          </div>
      <% end %>
    </div>
    <div class="col-lg-4">
      <div>共有閲覧ランキング</div>
      <table class="table">
        <thead>
          <tr class="warning">
            <th>順位</th>
            <th>名前</th>
            <th>タイトル</th>
            <th>閲覧数</th>
          </tr>
        </thead>
        <tbody>
          <% @most_viewed.each.with_index(1) do |sharing, i| %>
            <tr>
              <td class="td01">
                <%= "#{i}" %>
              </td>
              <td class="td03">
                <div><%= attachment_image_tag sharing.user, :image, :fill, 50, 50, format: 'jpeg' , class: "img-circle profile-img",fallback: "/images/no_image.jpg",size: '50x50'%></div>
                <div><%= sharing.user.nickname %></div>
              </td>
              <td class="td03">
                <%= link_to sharing.title ,sharing_path(sharing.id)%>
              </td>
               <td class="td01">
                <%= sharing.impressions_count %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div>共有いいねランキング</div>
      <table class="table">
        <thead>
          <tr class="warning">
            <th>順位</th>
            <th>名前</th>
            <th>タイトル</th>
            <th>いいね数</th>
          </tr>
        </thead>
        <tbody>
          <% @sharinglikes.each.with_index(1) do |sharing,i| %>
            <tr>
              <td class="td01">
                <%= i %>
              </td>
              <td class="td03">
                <div><%= attachment_image_tag sharing.user, :image, :fill, 50, 50, format: 'jpeg' , class: "img-circle profile-img", fallback: "/images/no_image.jpg",size: '50x50'%></div>
                <div><%= sharing.user.nickname %></div>
              </td>
               <td class="td02">
                <%=link_to sharing.title ,sharing_path(sharing.id)  %>
              </td>
              <td class="td02">
                <%= sharing.sharing_likes.length%>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
   <%= paginate @sharings %>
   <%= link_to '戻る', root_path %>
</div>

